body{
    margin: 0;
    padding: 0;
    background-color: floralwhite;
}
.slider-frame{
    width: 2000px;
    height: 400px;
    overflow: hidden;
    width: 80%;
    margin: 30px auto;
}

@-webkit-keyframes slide-animation{
    0%{left: 1500px;}
    10%{left: 1500px;}
    20%{left: 3000px;}
    30%{left: 4500px;}
    40%{left: 6000px;}
    50%{left: 7500px;}
    60%{left: 6000px;}
    70%{left: 4500px;}
    80%{left: 3000px;}
    90%{left: 1500px;}
    100%{left: 1500px;}
}

.slide-images{
    /* width: 2000; */
    height: 400px;
    margin: 0 0 0 -7500px;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-continer{
    width: 1500px;
    position: relative;
    float: left;
}
.img-continer img{
    width: 80%;
}